@model int

<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar" onclick="window.location.href = ''">
    <a href="#" class="dropdown-toggle">
        <i class="icon-magnet"></i>
        <span class="badge badge-default">
            @Model
        </span>
    </a>

</li>
